# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
/cmake-build-debug/.cmake
/cmake-build-debug
/thirdparty/curl-build/cmake-build-debug
/cmake-build-debug-mingw-32
/cmake-build-release-mingw-32
/cache
/out
/cmake-build-release-visual-studio
/cmake-build-release
thirdparty/plugin-sdk/
